* {
    margin: 0;
    padding: 0;
}

.bar {
    fill: navy;
}

.bar:hover {
    fill: steelblue;
}

#title {
    width: 900px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: beige;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
}

.info {
    font-size: 0.8em;
}

#footer {
    margin-left: 50px;
}